

/* Basic Reset */
body, h1, h2, p {
  margin: 0;
  padding: 0;
  font-family: 'Baskervville';
}

:root {
  --lgc-top: linear-gradient(45deg, #ff847c, #fecea8, #99b898);
  --lgc-bottom: linear-gradient(45deg, #582841, #f36f38, #f99e4c, #f36f38, #ef4648, #cc2a49);
}

header {
  width: 100%;
  height: 50px;
  background: var(--lgc-top);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index:3;
}

/* Navbar Styles */
#navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  text-align: right;
}


nav {
  width: 50%;
  max-width: 300px;
  height: 50px;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {
  color: #dfdfe2;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
  font-weight: bold;
  transition: transform 0.3s;
}

nav > ul > li:hover {
  color: #668365;
  cursor: pointer;
  padding: auto;
  transform: scale(1.3);
}

li > a {
  color: inherit;
  text-decoration: none;
}


/* Welcome Section Styles */
#welcome-section {
  margin: 30px auto 0px auto;
  padding: 100px;
  text-align: center;
  color: #f36f38;
  font-weight: bold;
  background: var(--lgc-top);
  align-items: center;
  justify-content: center;
}

.myfoto {
    overflow: hidden;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 30px auto 30px auto;
}

.myfoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* For screens with a maximum width of 768px */
@media only screen and (max-width: 768px) {
  #navbar ul {
    flex-direction: column;
    text-align: center;
  }

  #navbar a {
    padding: 10px; 
    display: block;
  }
}

/* Projects Section Styles */
#projects {
  padding: 20px;
  color: #ff847c;
  background-color: linen;
}

h2{
  text-align: center;
  text-decoration: underline;
  padding-bottom: 20px;
}

.color-code {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cb {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.cc1 {
  background-color: #f99e4c; /* warna merah */
}

.cc2 {
  background-color: #ef4648; /* warna hijau */
}

.cc3 {
  background-color: #1e2425; /* warna biru */
}

.allprojects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 1400px;
  margin-bottom: 40px;
  padding: 20px 10px;
  text-align: center;
  transition: transform 0.3s;
}

.allprojects a {
  color: #e1e1e1;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

.allprojects img {
  padding-bottom: 15px;
}

.p1{
  background-color: #f99e4c;
  padding-bottom: 20px;
}

.p2{
  background-color: #ef4648;
  padding-bottom: 20px;
}

.p3{
  background-color: #1e2425;
  padding-bottom: 20px;
}

.allprojects a {
  position: relative;
  color: #e1e1e1;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

.p1:hover, .p2:hover, .p3:hover{
  transform: scale(1.1);
}

.p1 a:hover, .p3 a:hover{
  color: #f36f38;
}

.p2 a:hover{
  color: #582841;
}


.social-icons {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  gap: 50px;
  align-items: center;
}

.social-icons a {
  text-decoration: none;
  color: linen;
}

.social-icons a:hover {
  transform: scale(1.5);
  color: #fc9544;
}

.contact {
  background: var(--lgc-top);
  color: linen;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}
